form {
  padding: 4px;
  /* background: hsl(264 30% 96%); */
  border-radius: 5px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

input {
  width: 50%;
}

.form-felt {
  display: grid;
}

form {
  display: grid;
  /* gap: 1rem; */
}

.form-felt {
  display: grid;
  gap: 10px;
}

/* #besked {
  width: 100%;
} */

button {
  /* width: 20%; */
  background-color: rgb(242, 239, 239);
}
