* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: #e7e7e7;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
  max-width: 100%;
}

h1 {
  margin: 20px;
  color: black;
  font-size: 3rem;
  text-align: center;
}

.map-img {
  padding-left: 80px;
  padding-right: 80px;
}
