/* --------------------------footer--------------------------------- */
body {
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  /* display: block; */
}

/*footer*/
@media (min-width: 750px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: rgb(255, 253, 248);
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.h1_footer {
  color: rgb(81, 65, 44);
  font-size: 20px;
  margin-top: 4%;
  padding-left: 90px;
  padding-right: 90px;
  grid-area: 1/1;
  margin-bottom: 12px;
  font-family: "Bebas Neue";
}

.p_footer {
  font-size: 15px;
  color: rgb(33, 32, 32);
  padding: 5px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 8px;
  font-family: "Heebo", sans-serif;
}

form {
  padding: 4px;
  border-radius: 5px;
  font-family: "Heebo", sans-serif;
}

label,
input,
textarea,
select,
.button_footer {
  display: block;
  margin-top: 5px;
}

input {
  width: 60%;
  background-color: rgb(255, 255, 255);
}

form {
  display: grid;
  padding-left: 90px;
  padding-right: 90px;
}

.form-felt {
  display: grid;
}

button {
  background-color: rgba(188, 182, 182, 0.814);

  font-family: "Heebo", sans-serif;
  text-align: center;
}

/* ------------------submenu----------------------------- */

/* The navigation menu */
.navbar {
  /* overflow: hidden; */
  background-color: rgba(255, 251, 251, 0);
  display: none;
}

/* Navigation links */
.navbar a {
  /* float: left; */
  font-size: 20px;
  color: rgb(85, 45, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  white-space: nowrap;
}

/* The subnavigation menu */
.subnav {
  /* float: left; */
  /* overflow: hidden;
  padding-top: 40px;*/
  position: relative;
  display: grid;
}

.subnav :hover {
  
}

/* Subnav button */
/* .subnav .subnavbtn {
  font-size: 16px;
  /*border: none;
  outline: none;
  color: rgb(86, 43, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Heebo", sans-serif;
  margin: 0;
}

.subnavbtn {
  border: none;
  background-color: rgba(0, 0, 255, 0);
} 

/* Add a red background color to navigation links on hover */
/* .navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(221, 132, 9);
} */




/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;

  top: 30px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
  padding-top: 40px;
}
/* Style the subnav links */
.subnav-content a {
  /* float: left; */
  color: rgb(86, 43, 0);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: rgb(200, 172, 132);
  color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: flex;
}

/*---------------------------------menu-----------------------------*/

#menu {
  display: flex;
  white-space: nowrap;
  padding-left: 20px;
  gap: 15px;

}

ul#menu li {
  /* display: inline; */
  font-size: 17px;
  padding-left: 5px;
  list-style: none;
  font-family: "Heebo", sans-serif;
}

@media (min-width: 600px) {
  ul#menu li {
    /* display: inline; */
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Times New Roman", Times, serif;
  }
  #grid_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .navbar {
    display: grid;
  }
  
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  box-shadow: 0 12px 28px 0 rgb(0 0 0 /30%);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.704);
  z-index: 1;
}

.logo {

  font-family: "Heebo", sans-serif;
  font-size: 20px;
  padding-right: 10px;
  grid-column: 2;
  display: grid;
}

header.logo.a {
  font-size: 4rem;
}

.logo_img {
  width: 60%;
  align-items: center;
}

@media (min-width: 600px) {
 

  .logo a {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .logo_img {
    width: 50%;
    align-items: center;
  }
}

header.nav.ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
  
}

#header-nav {
  --less-than: 600;
  --burger-lines: rgb(124, 78, 9);
  --burger-border: rgb(92, 32, 0);
  grid-column: 1;
  grid-row: 1;
  display: grid;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(96, 39, 4);
}

a:hover {
  color: rgb(130, 92, 15);
}

/* .logo a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

* {
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .menu_icons {
    place-self: center end;
  }

  .menu_icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  #header-nav {
    --less-than: 600;
    --burger-lines: rgb(124, 78, 9);
    --burger-border: rgb(92, 32, 0);
    grid-column: 1;
    grid-row: 1;
    display: grid;
  }

  
}

.menu_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 150px;
  align-items: center;
  gap: 10px;
  padding-right: 30px;
}

#sogefelt {
  width: 75px;
  padding-right: 20px;
}

/* ----------------menu slut------------------------------- */

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
