body {
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 750px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

/*footer*/

form {
  padding: 4px;
  /* background: hsl(264 30% 96%); */
  border-radius: 5px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

input {
  width: 50%;
}

.form-felt {
  display: grid;
}

form {
  display: grid;
  /* gap: 1rem; */
}

.form-felt {
  display: grid;
  gap: 10px;
}

/* #besked {
  width: 100%;
} */

button {
  /* width: 20%; */
  background-color: rgb(242, 239, 239);
}

/*
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: rgb(209, 208, 208);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  justify-content: space-around;
  margin-top: 20px;
}
