body {
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*footer*/
@media (min-width: 750px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: rgb(255, 253, 248);
    margin-bottom: 60px;
  }
}

h1 {
  color: rgb(81, 65, 44);
  font-size: 18px;
  margin-top: 4%;
  padding-left: 90px;
  padding-right: 90px;
  grid-area: 1/1;
  margin-bottom: 12px;
  font-family: "Bebas Neue";
}

p {
  font-size: 13px;
  color: rgb(33, 32, 32);
  padding: 5px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 8px;
}

form {
  padding: 4px;
  border-radius: 5px;
}

label,
input,
textarea,
select,
button {
  display: block;
  margin-top: 5px;
}

input {
  width: 60%;
  background-color: rgb(255, 255, 255);
}

form {
  display: grid;
  padding-left: 90px;
  padding-right: 90px;
}

.form-felt {
  display: grid;
}

button {
  background-color: rgba(188, 182, 182, 0.814);
  padding: 4px;
  margin-top: 8px;
  font-family: "lora";
}
