* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  justify-content: space-around;
  margin-top: 20px;
} */

body {
  background-image: url("../billeder/boenner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.overskrift {
  color: rgb(255, 255, 255);
  font-size: 80px;
  text-align: center;
  margin-top: 5%;
  font-family: "Bebas Neue", cursive;
}

.col {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  margin-top: 5%;
  padding-left: 200px;
  padding-right: 200px;
}

.underoverskrift {
  font-family: "Bebas Neue", cursive;
  margin-top: 3%;
}

.tekst2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (min-width: 700px) {
  .billeder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-flow: wrap;
    padding: 80px;
    gap: 80px;
    place-content: center;
  }

  .video {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .videoen {
    width: 890px;
    height: 500px;
    margin-top: 65px;
  }

  .indhold {
    padding: 50px;
  }
}

.insta,
.risteriet {
  padding-top: 20px;
  font-size: 25px;
}
