* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: url("../billeder/boenner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.overskrift {
  color: rgb(255, 255, 255);
  font-size: 80px;
  text-align: center;
  margin-top: 5%;
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 700px) {
  .col {
    width: 80%;
    margin-inline: auto;
  }
}

@media (min-width: 700px) {
  .col {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.6;
    margin-top: 5%;
    width: 80%;
    margin-inline: auto;
  }
  .tekst2 {
    font-family: "Heebo", sans-serif;
    /* padding-left: 200px;
    padding-right: 200px; */
    color: white;
  }
}

.underoverskrift {
  font-family: "Bebas Neue", cursive;
  margin-top: 3%;
  text-align: center;
  color: white;
}

@media (min-width: 700px) {
  .billeder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-flow: wrap;
    padding: 80px;
    gap: 80px;
    place-content: center;
  }

  .video {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .videoen {
    width: 890px;
    height: 500px;
    margin-top: 65px;
  }

  .indhold {
    font-family: "Heebo", sans-serif;
    /* padding-left: 200px;
    padding-right: 200px; */
    color: white;
  }
}
.indhold {
  font-family: "Heebo", sans-serif;
  color: white;
  line-height: 1.5;
}

.indhold1 {
  font-family: "Heebo", sans-serif;
  color: white;
  line-height: 1.5;
}

.insta,
.risteriet {
  padding-top: 20px;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
}

.footer_icon {
  margin-left: 90px;
}
